{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    错误
{% endblock %}

{% block bootstrap_extend %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script type="text/javascript" src="{% static 'jquery1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block content %}
    {{ message }}, <a href="{{ redirect_to }}">返回原页面</a>
{% endblock %}