ol.breadcrumb{
    margin-bottom: 0px;
}

div.panel{
    margin: 20px;
}

ul.nav{
    margin: 20px;
}

ul.pagination{
    margin: 20px;
}

p.type_title{
    margin-bottom: 0px;
}

p.time_title{
    margin-bottom: 0px;
}

ul{
    list_style_type: none!important;
}

div.input-group{
    margin: 20px;
}

div.reply{
    margin-left: 20px;
}

div.like{
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
}

div.like .active{
    color: #f22;
}
