{% extends 'form.html' %}
{% load staticfiles %}

{% block title %}{{ form_head }}{% endblock %}

{% block bootstrap_extend %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    <script type="text/javascript" src="{% static 'jquery1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block form_head %}{{ form_head }}{% endblock %}

{% block form %}
    <form action="" method="POST">
        {% csrf_token %}

        {% for field in form %}
            {% if not field.is_hidden %}
                <label>{{ field.label }}</label>
            {% endif %}
            {{ field }}
            <p id="tip" class="text_danger">{{ field.errors.as_text }}</p>
        {% endfor %}

        <span class="pull-left text-danger">{{ form.non_field_errors }}</span>
        <div class="pull-left">
            <button id="send_code" class="btn btn-primary">发送验证码</button>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-default">确认</button>
            <button class="btn btn-default" onclick="window.location.href={{ return_back_url }}">返回</button>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $("#send_code").click(function(){
            var email = $("#id_email").val();
            if(email==''){
                $("#tip").text('邮箱不能为空');
                return false;
            }

            $.ajax({
                url: "{% url 'send_verification_code' %}",
                type: "GET",
                data: {
                    'email': email
                },
                cache: false,
                success: function(data){
                    if(data['status'] == 'ERROR'){
                        alert(data['status']);
                    }
                }
            });
        });
    </script>
{% endblock %}
