{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    个人信息
{% endblock %}

{% block bootstrap_extend %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    <script type="text/javascript" src="{% static 'jquery1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ol class="breadcrumb">
                        个人信息
                    </ol>
                </div>
                <div class="panel-body">
                    <h2>{{ user.username }}</h2>
                    <ul>
                        <li>
                            昵称：
                            {{ user.get_nickname }}
                            &nbsp;
                            <a href="{% url 'change_profile' %}?from={{ request.get_full_path }}">
                                修改昵称
                            </a>
                        </li>
                        <li>邮箱：
                            {% if user.email %}
                                {{ user.email }}
                            {% endif %}
                            &nbsp;
                            <a href="{% url 'blind_email' %}?from={{ request.get_full_path }}">点此绑定邮箱</a>
                        </li>
                        <li>
                            最近登录时间：
                            {{ user.last_login }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
