{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    注销
{% endblock %}

{% block bootstrap_extend %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    <script type="text/javascript" src="{% static 'jquery1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>您已注销</h2>
    <style>
        h2{
            margin: 20px;
        }
    </style>
{% endblock %}